@model PasswordManagerApp.Models.Note

@{

    ViewData["Title"] = "AddOrEditNote";
}




<div class="container-fluid"> 

            <div class="row">
                    <div class="col-md-4">
                        <form class="noteForm" asp-action="AddOrEditNote" metod="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="Id" value="@ViewBag.Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Details" class="control-label"></label>
                                
								<textarea class="form-control" asp-for="Details" rows="7"></textarea>
                                <span asp-validation-for="Details" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
  
  
</div> 
			
			 
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
               
           







