@model PasswordManagerApp.Models.PaypalAccount
<div>
    <h4>Paypal accounts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd class="col-sm-10">

            <input type="password" disabled id="encArea" value="@Model.Password">
            <button onclick="switchVisibility()">show / hide</button>
        </dd>
    </dl>
</div>



