

<div class="alert alert-info alert-dismissible fade show" role="alert">
                Na twoj adres email zostal wyslany link do usuniecia konta.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

