@model PasswordManagerApp.Models.ViewModels.PasswordChangeViewModel

<div id="NotificationPasswordChangeAlert">


@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @ViewData.ModelState["Error"].Errors.First().ErrorMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form class="changePassForm" form method="POST" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content" data-ajax-url="@Url.Action("PasswordChange","Settings")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatPassword" class="control-label"></label>
                <input asp-for="RepeatPassword" class="form-control" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input  type="submit" formaction="PasswordChange" formmethod="POST"  value="Change password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



