
@{
    ViewData["Title"] = "VerificationFailed";
    
}


@await Html.PartialAsync("~/Views/Shared/_NotificationAlert.cshtml", (string)ViewBag.Message)

   
    <div class="auth-content">
        
        <form id="login-form" >
           
            <div class="form-group">
               
            </div>

            <div class="form-group">
                
            </div>
           
        </form>
    </div>
