
@using PasswordManagerApp.Models
@model PaymentsViewModel

@{
    ViewData["Title"] = "ListPayments";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    // var encryptedFields1 = ViewBag.EncryptedIdsPay as Dictionary<int, string>;
    // var encryptedFields2 = ViewBag.EncryptedIdsCard as Dictionary<int, string>;
}



    <article class="content items-list-page">
        Widok Glowny
        <div class="header-block header-block-buttons">

            <a asp-controller="Payments" asp-action="ListPayPal" class="btn btn-primary btn-sm rounded-s"> List PayPal </a>
            <a asp-controller="Payments" asp-action="ListCreditCard" class="btn btn-primary btn-sm rounded-s"> List Credit Card </a>
        </div>


        Tutaj!
        <!-- Modal -->
        <a class="btn btn-primary btn-sm rounded-s"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-update="#content"
           data-ajax-url="@Url.Action("ListPayPal","Payments")"> PayPal </a>

        <a class="btn btn-primary btn-sm rounded-s"
           data-ajax="true"
           data-ajax-method="GET"
           data-ajax-mode="replace"
           data-ajax-update="#content2"
           data-ajax-url="@Url.Action("ListCreditCard","Payments")"> Credit Card </a>

        <div id="content"></div>
        <div id="content2"></div>





    </article>


@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    <script>



        function switchVisibility() {
            const passwordField = document.querySelector('#encArea')
            if (passwordField.getAttribute('type') === 'password') passwordField.setAttribute('type', 'text')
            else passwordField.setAttribute('type', 'password')
        }

        function settingsFadeIn() {

            if ($('#content').length) {
                $('#content').fadeOut('slow');
                $('#content').fadeIn('slow');

            }


        }

        function renewPaypalValidation() {


            // Remove validation.
            $(".paypalForm").removeData("validator").removeData("unobtrusiveValidation");

            // Add validation again.
            $.validator.unobtrusive.parse(".paypalForm");


        }
        function renewCreditCardValidation() {


            // Remove validation.
            $(".creditcardForm").removeData("validator").removeData("unobtrusiveValidation");

            // Add validation again.
            $.validator.unobtrusive.parse(".creditcardForm");


        }




    </script>



}