
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Password Manager App</h1>
    <p> Strona powitalna , dodać !</p>
</div>







<script src="~/js/MyJsFunctions.js" asp-append-version="true"></script>
